@import 'tailwindcss';


@theme{
     --color-gray-900: #fff;

     --color-gray-200: #E02C1C;
     --color-gray-600: #a1a799;

     
     --color-red-100: #E02C1C;
     --color-black-100: #242424;
     
     --color-teal-500: #0D5257;
 
     
     
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px;
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 35px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.star-rating input[type=radio]:checked ~ label {
    color: #f2b600;
}



