@import 'tailwindcss';

@theme{
     --color-gray-900: #fff;

     --color-gray-200: #E02C1C;
     --color-gray-600: #a1a799;

     
     --color-red-100: #E02C1C;
     --color-black-100: #242424;
     
     --color-teal-500: #0D5257;
     
     
}
